/**********************************
 Practica 0206
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/* reinicio márgenes */
* { margin: 0px; padding: 0px }

body 
{
    font-family: verdana, sans-serif; 
}

nav {
    background-color: darkturquoise;
    font-size: 1.2rem;
    padding: 0.7rem;
    position: fixed;
    width: 99%; /* al 100% falla */
    z-index: 100;
}

/* el ul es el contenedor flex */
nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: beige;
    padding: 0 10px; 
}

nav ul li a:hover {
    background-color: cyan; 
}

.main 
{
    position: absolute;
    top: 2.8rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

/* Creo un contenedor interno */
#maincolumns
{
    display: flex;
    align-content: flex-start;
}

#content 
{
    flex-basis: 75%;
}

#sidebar
{
    flex-basis: 25%;
}

/*----- BARRA LATERAL SUPERIOR ----*/
aside form {
    display: flex;
    flex-flow: column;
    font-size: 0.9rem;
    font-weight: 600;
}

aside form * {
    margin: 5px 5px;
}

.columns
{
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

select, input
{
    height: 30px
}

textarea 
{
    height: 90px
}

input[type="submit"] {
    height: 50px;
    background-color:cadetblue;
    font-size: 1.2rem;
} 


/*----- BARRA LATERAL INFERIOR ----*/
aside li {
    list-style: none;
    background-color: coral;
    font-size: 2.2rem;
    color: whitesmoke;
    width: 80px;
    height: 80px;
    margin: 8px;
    line-height: 80px;
    text-align: center;
}

#blocks ul {
    display: flex;
    flex-wrap: wrap;
}

/*---- GESTION ETIQUETAS ------ */
.label
{ 
    padding: 0px 3px 3px 0px;
    position: relative;
    top: -0.2rem;
    left: 0px;
}

.elem
{ 
    border: 3px solid #6AC5AC; 
    position: relative;
    margin: 1.4rem 10px 1.4rem 10px;
}

.endlabel 
{ 
    padding: 3px 0px 0px 3px; 
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.label, .endlabel 
{ 
    background-color: #6AC5AC;
    color: #414142; 
    line-height: 1em; 
    font-size: 0.9rem;
}

.elem-red
{ 
    border: solid #D64078 3px;      
}

.elem-red >.label, .elem-red > .endlabel
{ 
    color: #FFF; 
    background-color: #D64078; 
}